# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/

# Node
node_modules/

# Tailwind
npm-debug.log*